<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>

  <td class='name'>
    <%= product.name %>
  </td>
  
  <p>
    <td class='description'>
    <%= product.description %>
    </td>
  </p>
</t