 <section class="index-about" style="display: flex; flex-direction: column; justify-content: space-between;">
  <div style="margin-bottom: 1em; font-size: 4em; background-color: #dbdbdb; padding-left: 1em; display: flex; flex-strink: 3;">
  About <span style="color: #940128">Jungle</span>:
  </div>

  <div style="
  display: flex;
  flex-direction: row-reverse;
  flex-flow: flex-end;
  background: linear-gradient(to bottom,	#017581, #810C01);">

  <img src="/images/opener.jpeg" alt="Storefront stock photograph" style="
  width: 35%;
  height: auto;
  ">
  <span style="color: white;
  font-family: Monospace;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum lacus sed massa mattis ultricies. Integer pellentesque dignissim pellentesque. Nunc vitae iaculis lorem. Curabitur sed diam orci. Maecenas sed lectus turpis. Vestibulum nec diam nec nibh dictum iaculis. Nullam sit amet suscipit dolor, et dignissim mauris.
  
  Aenean mattis elit eget ligula bibendum condimentum. Nam ultricies tempor mauris at ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam eu ultrices neque, eu congue nunc. Aliquam id sem mi. Sed eu turpis pharetra, posuere lacus ut, condimentum augue. Sed placerat viverra erat id imperdiet.

  Phasellus at tempor ipsum, in tincidunt magna. Praesent vitae tristique tortor. Nam massa libero, aliquam eu ultricies vel, porttitor ut augue. Sed et condimentum sapien. Nam vel dui eget erat lobortis dapibus a at nunc. Proin et diam id purus pellentesque facilisis. Sed nec lobortis mauris, nec sagittis lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur tristique, eros facilisis tincidunt mollis, metus metus elementum risus, et dignissim elit ligula scelerisque nisi. Sed ut enim mattis, elementum orci at, tincidunt erat. Praesent rutrum nec nulla at semper. Phasellus et risus metus. Nullam condimentum nunc eget augue interdum, ut posuere leo sagittis.
</span>
  </div>




<form style="
padding-top: 25px;
background: linear-gradient(to top,	#017581, #810C01);
color:	white;
font-family: Monospace;">
  <div>
  Phasellus at tempor ipsum, in tincidunt magna. Praesent vitae tristique tortor. Nam massa libero, aliquam eu ultricies vel, porttitor ut augue. Sed et condimentum sapien. Nam vel dui eget erat lobortis dapibus a at nunc. Proin et diam id purus pellentesque facilisis. Sed nec lobortis mauris, nec sagittis lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur tristique, eros facilisis tincidunt mollis, metus metus elementum risus, et dignissim elit ligula scelerisque nisi. Sed ut enim mattis, elementum orci at, tincidunt erat. Praesent rutrum nec nulla at semper. Phasellus et risus metus. Nullam condimentum nunc eget augue interdum, ut posuere leo sagittis.
  </div>
  

  <div>
  In congue quam ac velit efficitur hendrerit. Suspendisse ac elit hendrerit, commodo lorem at, mattis ipsum. Aenean sit amet ipsum eu quam tincidunt molestie. Ut pharetra dignissim lectus, sed porta urna viverra nec. Pellentesque in lorem erat. Pellentesque vestibulum, libero non porttitor commodo, orci risus placerat purus, in suscipit ligula est eget odio. Duis eu feugiat nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget erat tincidunt, accumsan orci eu, rhoncus dolor. Suspendisse sed vehicula massa, eu auctor erat.
  </div>


  <div>
  Morbi a pellentesque diam. Mauris faucibus quam nisi, et vulputate purus faucibus vel. Suspendisse porta ante eget tristique mattis. Aenean ipsum lorem, porttitor ut elit vulputate, mattis interdum nunc. Ut sed enim ultricies, congue justo eget, ornare ex. Proin ac suscipit neque, in bibendum velit. In nisi libero, bibendum a lectus et, cursus maximus ex. Integer lorem urna, molestie vel interdum ullamcorper, scelerisque non neque. Duis risus lorem, lobortis ut finibus vitae, sodales at augue. Donec lacinia elit at accumsan malesuada. Fusce urna magna, laoreet nec vehicula sed, aliquam nec nibh. Curabitur lacus leo, porta at ligula at, imperdiet congue enim. Sed sit amet lacus dictum, mollis lorem ac, lobortis risus. Aenean euismod nunc vitae mauris placerat imperdiet sed id eros. Nullam porta diam vel tortor sollicitudin dignissim.
  </div>
</form>
</section>